<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <!-- JOB Listings -->
      <div class="job bg-light p-4 mb-2">
        <span class="float-right badge badge-success">Dublin</span>
        <div class="h5">
          <strong>Senior Web Developer</strong>
        </div>
        <p>We are looking for a reliable, detail-orientated senior web developer to join our company. The senior web developer's responsibilities include communicating with clients to determine website specifications, creating schedules and providing quotes, writing code, working with a team of designers and content writers, as well as assisting with recruitment and training of all new junior web developers. You should be able to provide excellent customer service, understand written and verbal instructions, and stick to deadlines and budget constraints.</p>
        <p>Salary: €80-100K</p>
        <p>Contact Us: jobs4you@gmail.com</p>
      </div>
      <div class="job bg-light p-4 mb-2">
        <span class="float-right badge badge-success">Cork</span>
        <div class="h5">
          <strong>Junior Web Developer</strong>
        </div>
        <p>We are looking for an enthusiastic junior software developer to join our experienced software design team. You will report directly to the development manager and assist with all functions of software coding and design. Your primary focus will be to learn the codebase, gather user data, and respond to requests from senior developers.</p>
        <p>Salary: €40-60K</p>
        <p>Contact Us: webdevelopersguild@gmail.com</p>
      </div>
      <div class="job bg-light p-4 mb-2">
        <span class="float-right badge badge-success">London</span>
        <div class="h5">
          <strong>Data Analyst</strong>
        </div>
        <p>We are looking for a passionate certified Data Analyst. The successful candidate will turn data into information, information into insight and insight into business decisions.</p>
        <p>Salary: €100-120K</p>
        <p>Contact Us: databetamale@gmail.com</p>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
